.home-screen__play-button {
  position: absolute;
  top: 653px;
  left: 595px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.home-screen__play-button img {
  display: block;
  width: 250px;
  height: 98px;
}

.home-screen__play-button:focus-visible {
  outline: 3px solid var(--home-focus-outline);
  outline-offset: 4px;
}
