.home-screen__eyebrow {
  margin: 0;
  font-family: 'Almarai', sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
}

.home-screen__title {
  margin: 18px 0 0;
  font-family: 'Red Rose', serif;
  font-size: 140px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
}
