@use '../abstract/variables' as vars;

:root {
  --home-bg: #{vars.$home-bg};
  --home-text: #{vars.$home-text};
  --home-focus-outline: #{vars.$home-focus-outline};
  --settings-active: #{vars.$settings-active};
  --settings-accent: #{vars.$settings-accent};
  --settings-bg: #{vars.$settings-bg};
  --settings-border: #{vars.$settings-border};
  --settings-footer-bg: #{vars.$settings-footer-bg};
  --settings-muted: #{vars.$settings-muted};
  --settings-text: #{vars.$settings-text};
}
