body { height: 100vh; 
background-color: blue;}

.card{
    height: 100px;
    aspect-ratio: 1/1;
    background-color: white;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.3s ease-in-out;
    }

    &__face {
        position: absolute;
       inset:0;
       background-color: black;
       backface-visibility: hidden;
    
        &--back {
           transform: rotateY(180deg);
           background-color: green;
    }
}

&.flipped .card__inner {
    transform: rotateY(180deg);
    
}

}
