@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Klee+One:wght@600&family=Red+Rose:wght@400;700&display=swap');

body {
  background-color: var(--home-bg);
  color: var(--home-text);
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}
